/*Header Styles*/
header {
  overflow: hidden;
}
header hr {
  border: none;
  border-top: 1px solid #EEE;
  box-sizing: content-box;
  width: 85%;
}

header .img-container {
  position: relative;
}
header .img-container img {
  position: relative;
  left: -2em;
  width: 130%;
}
header .img-container .img-title {
  position: absolute;
  bottom: 0;
  color: #FFF;
  margin-left: 3%;
  font-size: 1.5em;
}

.contact-container {
  padding: 1em 1em 0 1em;
}
.contact-container .contact > p {
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  margin-bottom: 1em;
}
.contact a {
  text-decoration: none;
  color: #888;
}
.contact__icon {
  color: #2AAF74;
  font-size: 1.2em;
}
.contact__title {
  margin-left: 15px !important;
}

.skills-container {
  margin: 1em 1em 0 1em;
}
.skills-container .title-container {
  display: flex;
  align-items: baseline;
  font-size: 1em;
  margin-bottom: 1em;
}
.skills-container .title-container .icon-skill::before {
  color: #2AAF74;
  margin-right: 1em;
  position: relative;
  top: 2px;
}
.skills-container .title-container h3.title {
  margin: 0;
  color: #444;
  font-weight: bold;
}
.skills-container .skill__porcentage {
  margin: 0.5em 0;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  background: #EEE;
}
.skills-container .skill__porcentage .value {
  background: #2AAF74;
  border-radius: 20px;
  color: #fff;
}

.language-container {
  margin: 1em 1em 0 1em;
  margin-bottom: 2em;
}
.language-container .title-container {
  display: flex;
  align-items: baseline;
  font-size: 1em;
  margin-bottom: 1em;
}
.language-container .title-container .icon-earth::before {
  color: #2AAF74;
  margin-right: 1em;
  align-self: flex-end;
  position: relative;
  top: 2px;
}
.language-container .title-container h3.title {
  margin: 0;
  color: #444;
  font-weight: bold;
}
.language-container .language__porcentage {
  margin: 0.5em 0;
  height: 25px;
  border-radius: 12.5px;
  background: #EEE;
  position: relative;
}
.language-container .language__porcentage::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 12.5px;
  background: #2AAF74;
}
.language-container .language__porcentage.spanish::before {
  width: 100%;
}
.language-container .language__porcentage.english::before {
  width: 85%;
}
.language-container .language__porcentage.german::before {
  width: 25%;
}

main {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(#EEEEEE 80%, #999);
  font-family: "Roboto", sans-serif;
  color: #888;
}

.global-container {
  display: flex;
  max-width: 1400px;
  margin: auto;
}
.global-container header {
  flex-basis: 30%;
  margin-right: 0;
}
.global-container main {
  flex-basis: 70%;
}
@media all and (max-width: 640px) {
  .global-container {
    flex-direction: column;
  }
  .global-container header {
    margin: 1em;
  }
}

header, main > * {
  background-color: #fff;
  margin: 1em;
  box-shadow: 0 0 20px #888888;
}