<section id="projects">
	<h2 class="section__title">A bit about my work</h2>
	<div class="section__slider">
		<div class="slider__item"></div>
	</div>
</section>

<style>
	#projects {
		padding-block-start: var(--navbar-height);
		scroll-padding-top: 0;
		height: 50dvh;
	}

	.section__title {
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		text-align: center;
	}
</style>
