// Colors pantone

//$color1 : #81B71A;
//$color2 : #709F17;
//$complement : #2B303B;

$color1 : #009c97;
$color2 : #00cfc8;
$complement : #505762;

$colorText1: #f7fee8;
$colorText2 : #556F44;

// Breakpoints
$breakpoints : (
				s  : 0,
				m  : 740px,
				ml : 980px,
				l  : 1024px,
				xl : 1440px
);

// Dimensions

$asideWidth : 18rem;
$mainMargin : 2rem;
$headerHeight: 4.5rem;
