doctype html
html(lang="es")
  head

    title Daniel Rodriguez-Criado
    link(rel="icon" type="image/x-icon" href="/img/favico/ftkonqueror-16.png")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    link(href="https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto" rel="stylesheet")
    link(href="https://file.myfontastic.com/hfZ3wkmSh4J5g5DpRPp4YZ/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/mainStyles.css")

  body
    .global-container
      header
        .img-container
          img(src='img/yo.jpg' alt='Daniel image')
          h1.img-title Daniel Rodriguez-Criado
        .contact-container
          .contact
            .contact__icon.icon-work
            p.contact__title Engineering
          .contact
            .contact__icon.icon-home
            p.contact__title Malaga, Spain
          .contact
            .contact__icon.icon-mail
            a(href="mailto:dani1610@hotmail.com").contact__title dani1610@hotmail.com
          .contact
            .contact__icon.icon-phone
            a(href="tel:+34680699878").contact__title 680 699 878
        hr
        .skills-container
          .title-container
            .icon-skill
            h3.title Main Skills
          .skill
            .skill__title Web programming
            .skill__porcentage: .value 93%
          .skill
            .skill__title Electronics
            .skill__porcentage: .value 80%
          .skill
            .skill__title Automatics
            .skill__porcentage: .value 75%
          .skill
            .skill__title Arduino
            .skill__porcentage: .value 66%
        .language-container
          .title-container
            .icon-earth
            h3.title Languages
          .language
            .language__title Spanish
            .language__porcentage.spanish
          .language
            .language__title English
            .language__porcentage.english
          .language
            .language__title German
            .language__porcentage.german
      main
        .education
          .title-container
            .icon-skill
            h2.title Education
        .workExperience
          .title-container
            .icon-skill
            h2.title Work Experience
    footer


    script(src='js/skills.js')
