
header.aside-header
  .aside-header__img-container
    img(src="../img/daniel.jpg", alt="Daniel")#profile-image
  .aside-header__content
    h2.aside-header__content__name Daniel Rodriguez-Criado
    h3.aside-header__content__major PhD in Computer Science
    h3.aside-header__content__location 
      | #[i.fas.fa-location-arrow] Aston University, UK
    h3.aside-header__content__email
      | #[i.fas.fa-envelope] 190229717@aston.ac.uk
  hr.aside-header__hr

nav.aside-menu
  ul.main-menu#main-menu
    li.main-menu__item--active: a(href= "index.html") News
      i.fas.fa-home
    li.main-menu__item: a(href= "about-me.html") About me
      i.far.fa-address-card
    li.main-menu__item: a(href= "research.html") Research
      i.fas.fa-search
    li.main-menu__item: a(href= "publications.html") Publications
      i.fas.fa-pencil-alt
    li.main-menu__item: a(href= "demos.html") Demos
      i.fas.fa-film
    li.main-menu__item: a(href= "contact.html") Contact
      i.far.fa-paper-plane
    

footer.aside-footer
  a(href="https://www.linkedin.com/in/daniel-rodr%C3%ADguez-criado-6967626a/" target="_blank")
    i.fab.fa-linkedin
  a(href="https://twitter.com/danirocri" target="_blank")
    i.fab.fa-twitter-square
  a(href="https://github.com/vangiel" target="_blank")
    i.fab.fa-github-square
  a(href="https://scholar.google.com/citations?user=QwIxZKgAAAAJ&hl=en" target="_blank")
    i.fab.fa.fa-graduation-cap
  a(href="https://orcid.org/0000-0003-0562-531X" target="_blank").orcid
  a(href="https://www.researchgate.net/profile/Daniel_Rodriguez-Criado" target="_blank").research-gate
  