doctype html
html(lang="en")
  head
    title: block title 
      |Daniel Rodriguez-Criado
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="icon" type="image/png" href="/img/favicon/rocket-solid.png")

    script(src="https://kit.fontawesome.com/55d924b99d.js" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/mainStyles.css")
  body
    .global-container
      aside.main-aside
        include aside
      main.main-content
        header.main-header
          block header
        section.main-section
          block section
