.main-header{
    height: clamp(20em, 30vh, 40em);
    width: 100%;
    background: linear-gradient(to right, rgba($color1, 0.3), transparent), 
                url($imgCoverPath);
    //background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 15px 4px rgba(#333, .5);

    margin: 0;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__copy{
      color: $complement;
      width: 40%;
      margin-right: 3em;

      h1{
        font-size: 50px;
        text-transform: uppercase;
      }

      p{
        color: $complement;
        font-weight: bold;
      }
    }

    @media screen and (orientation: landscape) and (max-width: map-get($breakpoints, ml)), (max-height: 20em){
      min-height: auto;
      height: 100vh;

      &::after{
        content: "";
        height: 5em;
        width: 5em;

        position: absolute;
        bottom: 0;
        left: 40%;
        transform: translateY(-40%);

        background-color: white;
        clip-path: polygon(0 43%, 50% 78%, 100% 44%, 100% 64%, 49% 100%, 0 65%);
      }
    }
}
