.main-header{
    height: clamp(15em, 30vh, 30em);
    width: 100%;
    background: linear-gradient(to left, rgba($complement, 0.90), transparent), 
                url($imgCoverPath);
    //background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 15px 4px rgba(#333, .5);

    margin: 0;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__copy{
      color: $complement;
      width: min(40%, 30em);
      margin-right: 2em;
      display: flex;
      flex-direction: column;

      h1{
        text-transform: uppercase;
        font-family: 'Anton', sans-serif;
        letter-spacing: 3px;
        margin: 5px 0;
        color: $color1;
        font-size: 3em;
        font-weight: bold;
      }

      p{
        color: white;
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    @media screen and (orientation: landscape) and (max-width: map-get($breakpoints, ml)) and (max-height:20em){
      min-height: auto;
      height: 100vh;

      &::after{
        content: "";
        height: 5em;
        width: 5em;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(-50%);

        background-color: white;
        clip-path: polygon(0 43%, 50% 78%, 100% 44%, 100% 64%, 49% 100%, 0 65%);
      }
    }

    @media screen and (max-width: map-get($breakpoints, m)){
      justify-content: center;
      &__copy{
        width: 100%;
        margin: 0;
        h1{
          text-align: center;
        }
        p{
          display: none;
        }
      }
    }
}
