.main-content{
  background-color: white;
  
  .main-header{
    height: 30vh;
    min-height: 4cm;
    background-image: url(../img/index/cover.jpg);
    background-size: cover;
    box-shadow: 0 0 15px 4px rgba(#333, .5);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__copy{
      color: $complement;
      width: 40%;
      margin-right: 3em;

      h1{
        font-size: 50px;
      }

      @media screen and (max-width: map-get($breakpoints, m)){
        width: 70%;
        text-align: right;
        p{
          display: none;
        }
      }
    }
  }

  .main-section{
    padding: 0 2rem;
    min-height: 100%;

    .new{
      box-shadow: 0 0 15px 4px rgba(#333, .5);
      background-color: white;
      border: 1px solid rgba($color: #333, $alpha: .2);
      margin: 1.8em 0;
      box-sizing: content-box;
      

      display: flex;
      align-items: center;

      @media screen and (max-width: map-get($breakpoints, m)){
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-left: 1em;
      }

      &__date{
        align-self: flex-start;
        flex: 0 0 auto;
        width: 5em;
        height: 5em;
        margin: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-shadow: 0 0 0 5px $color2;
        background-color: $color1;
        color: white;
        font-weight: bold;
      }

      &__content{
        flex:auto;
        margin-right: 1.5em;
        margin-bottom: 2em;
      }
    }
  }
}



