// RWD Bases
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family : "Roboto", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

.global-container{
  max-width: 2000px;
  margin: auto;
  min-height: 100%;
  
  .main-aside{
    position: fixed;
    top: 0;
    width: $asideWidth;
    height: 100vh;
  }
  .main-content{
    background: #fff;
    margin-left: $asideWidth + $mainMargin;
    margin-right: $mainMargin;
    min-height: 100vh;
  }

  @media screen and (max-width: map-get($breakpoints, m)){
    .main-aside{
        left: -$asideWidth;
        .aside-header__img-container{
          display: none;
        }
    }

    .main-content{
      margin: 0;
    }

}
}


ul{
  list-style: none;
}

a {
  text-decoration : none;
}
