extends ../templates/template

block variables
    - var subtitle = 'Contact'
    - var rootPath = '../../'
    - var pageName = 'contact'

block styles
    link(rel="stylesheet" href=`${rootPath}css/contact.css`)

block header

block section
    h1 Working on it
