extends ../templates/template

block variables
    - var subtitle = 'Demos'
    - var rootPath = '../../'
    - var pageName = 'demos'

block styles
    link(rel="stylesheet" href=`${rootPath}css/research.css`)

block header
    header.main-header
        .main-header__copy
            h1 Demos
            p Here you can find different videos about demonstrations and presenttions of my work or any work I consider interesting.

block section
    ul.projects.demos
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/fuKM3WwHwoo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 "A Toolkit to Generate Social Navigation Datasets". My presentation for WAF 2020 conference.
                    p.description This tookit build on top of CoppeliaSim allows to create different datasets for social navigation.   
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
      
