extends ../templates/template

block variables
    - var subtitle = 'Publications'
    - var rootPath = '../../'
    - var pageName = 'publications'

block styles
    link(rel="stylesheet" href=`${rootPath}css/publications.css`)

block header
    header.main-header
        .main-header__copy
            h1 Publications
            p Here you can find a list with my publications so far. Most of them are available for downloading and you can dropdown a section with the citation and the abstract of the work.

block section
    #publications.publications-container