extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/about.css")

block header
    header.main-header
        .main-header-content
            h1.main-header-content__title Daniel Rodríguez Criado
            h2.main-header-content__copy PhD in Computer Science in Aston University.
            p.main-header-content__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ut aperiam cupiditate quidem maiores, iusto quibusdam vitae accusantium modi nam reprehenderit doloremque eaque nulla incidunt dolorum dicta architecto quasi dolorem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, nobis dolorum molestiae.
            .main-header-content__links
                a(href="../documents/CV_Daniel_Rodriguez_Criado.pdf") Download CV
                a(href="contact.html") Contact me
        .main-header-img
            img(src="../img/about/dani_expo.jpg", alt="Daniel in a conference")
block section
    section.main-section
        .education
            .education__title.section-title
                img(src="../img/about/icons/books.svg", alt="") 
                h1 Education
            .education__content.section-content
                .container.left
                    .content
                        h2 Master UMA
                        h3 Jan 2015 - Sep 2016
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint nobis voluptatibus dolor? Nisi aliquam commodi eos, cumque voluptatem libero aut, ex soluta voluptatum perferendis voluptates odio! Fugit, a ipsa!
                .container.right
                    .content
                        h2 Master UMA
                        h3 Jan 2015 - Sep 2016
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint nobis voluptatibus dolor? Nisi aliquam commodi eos, cumque voluptatem libero aut, ex soluta voluptatum perferendis voluptates odio! Fugit, a ipsa!
                .container.left
                    .content
                        h2 Master UMA
                        h3 Jan 2015 - Sep 2016
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint nobis voluptatibus dolor? Nisi aliquam commodi eos, cumque voluptatem libero aut, ex soluta voluptatum perferendis voluptates odio! Fugit, a ipsa!
                .container.right
                    .content
                        h2 Master UMA
                        h3 Jan 2015 - Sep 2016
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint nobis voluptatibus dolor? Nisi aliquam commodi eos, cumque voluptatem libero aut, ex soluta voluptatum perferendis voluptates odio! Fugit, a ipsa!
        
        .skills
            .skills__title.section-title
                img(src="../img/about/icons/skills.svg", alt="")
                h1 Skills
            .skills__content.section-content

        
