extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/about.css")

block header
    .main-header__copy
        h1 About me
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod eveniet, repellat libero incidunt distinctio, facilis nesciunt suscipit accusantium ipsa rerum quia debitis facere ratione explicabo deleniti dolorem similique ducimus.

block section
    p hola que tal esto es publications