extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/about.css")

block header
    header.main-header
        .main-header-content
            h1.main-header-content__title Daniel Rodríguez Criado
            h2.main-header-content__copy PhD in Computer Science in Aston University.
            p.main-header-content__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ut aperiam cupiditate quidem maiores, iusto quibusdam vitae accusantium modi nam reprehenderit doloremque eaque nulla incidunt dolorum dicta architecto quasi dolorem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, nobis dolorum molestiae.
            .main-header-content__links
                a(href="../documents/CV_Daniel_Rodriguez_Criado.pdf") Download CV
                a(href="contact.html") Contact me
        .main-header-img
            img(src="../img/about/dani_expo.jpg", alt="Daniel in a conference")
block section
    section.main-section
        .main-section__education
            .education__title.section-title
                img(src="../img/about/icons/books.svg", alt="") 
                h1 University Education
            .education__content.section-content.timeline
                .timeline__element
                    h2.title Internship in Hong Kong
                    h3.university Hong Kong University of Science and Technology (HKUST)
                    p.copy During my stay in HKUST I designed and manufactured a small robot for disinfecting tables using a combination of blue and UV light. It uses the Hi-NW technology developed by CBE department.
                    h3.date Jan 2015 - Sep 2016
                .timeline__element
                    h2.title Master in Electronics Systems for Smart Environments
                    h3.university University of Málaga (UMA)
                    p.copy During the coursing of this master, I learnt valuable knowledge about methods and technologies used in smart and sensorised environments. It helped me to understand better the relation between hardware and software to find specific solutions for a given problem.
                    h3.date Jan 2015 - Sep 2016
                .timeline__element
                    h2.title Erasmus stay in Vilnius (Lithuania)
                    h3.university Vilnius Gediminas Technical University (VGTU)
                    p.copy During my Erasmus in Vilnius I studied electronic related subjects such as: wind and photovoltaic energy systems, electronic convertors and modern electrical engineering. This experience mostly helped me to improve my English en live by my own.
                    h3.date Jan 2015 - Sep 2016
                .timeline__element
                    h2.title Master in Industrial Engineering
                    h3.university University of Málaga (UMA)
                    p.copy This master degree is the continuation of my bachelor, which gave me the competences of an industrial engineer. For the final thesis of this master I designed and implemented a processor architecture for detection of objects slippage over a tactile sensor array using an FPGA.
                    h3.date Jan 2015 - Sep 2016
                .timeline__element
                    h2.title Bachelor degree in Engineering in Industrial Technologies
                    h3.university University of Málaga (UMA)
                    p.copy Specialized in automatic and electronic control: Honours in “Integrated Circuits" and A* in “Computer Architecture”, “Power Electronic” and “Transducers and interface”. Bachelor final thesis titled: “Basic Quadcopter Design with Stabilization Control” Passed with honours.
                    h3.date Jan 2015 - Sep 2016
        
        .main-section__skills
            .skills__title.section-title
                img(src="../img/about/icons/skills.svg", alt="")
                h1 Skills
            .skills__content.section-content

        
