extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/about.css")

block header

block section
    .main-section
        img(src="../img/about/dani_expo1.jpg", alt="Daniel exposing one of his master final thesis")