extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/about.css")

block header
    header.main-header
        .main-header-content
            h1.main-header-content__title Daniel Rodríguez Criado
            h2.main-header-content__copy PhD in Computer Science in Aston University.
            p.main-header-content__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ut aperiam cupiditate quidem maiores, iusto quibusdam vitae accusantium modi nam reprehenderit doloremque eaque nulla incidunt dolorum dicta architecto quasi dolorem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, nobis dolorum molestiae.
            .main-header-content__links
                a(href="#") Download CV
                a(href="contact.html") Contact me
        .main-header-img
            img(src="../img/about/dani_expo.jpg", alt="Daniel in a conference")
block section
    section.main-section
        .education
            h1 Education
        .skills
            h1 Skills

        
