extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/research.css")

block header
    header.main-header
        .main-header__copy
            h1 Work in progress

block section
    ul.projects.demos
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
    