extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/research.css")

block header
    header.main-header
        .main-header__copy
            h1 Demostrations
            p These demostrations are wonderful

block section
    ul.projects.demos
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        
        li.project-item.demos
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video
            .project-item__text.demos
                    h2 Graph Neural Network for Social Navigation 1D
                    p.description A GNN model which estimates the navigation social compliance value for a particular scene.        