extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/demos.css")

block header
    h1 Work in progress
block section
    .video-gallery
        iframe(width="843" height="471" src="https://www.youtube.com/embed/c9cGIm3lLj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video