---
import Layout from "@/layouts/Layout.astro";

import Header from "@/sections/home/Header.astro";
import Projects from "@/sections/home/Projects.astro";
---

<Layout title="Home">
	<Header />
	<main>
		<Projects />
	</main>
</Layout>

<style></style>
