extends ../templates/template 


block header
    .main-header__copy
        h1 News
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem corporis voluptatum delectus unde harum debitis ut asperiores, eveniet saepe corrupti a in, fuga nam numquam esse accusamus nihil nisi laudantium.

block section
    .new
        .new__date 29 August #[span 2020]
        .new__content
            h1.new__title International conference ROMAN 2020
            p.new__text Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem ab quis autem quasi nulla modi porro similique enim illo dolor repudiandae, voluptates ipsa! Placeat debitis, aliquam fugit quidem natus veniam dolorum ducimus autem, repellat rerum molestiae dolorem tenetur delectus.

    
    .new
        .new__date 29 August #[span 2020]
        .new__content
            h1.new__title International conference ROMAN 2020
            p.new__text Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem ab quis autem quasi nulla modi porro similique enim illo dolor repudiandae, voluptates ipsa! Placeat debitis, aliquam fugit quidem natus veniam dolorum ducimus autem, repellat rerum molestiae dolorem tenetur delectus.

    .new
        .new__date 29 August #[span 2020]
        .new__content
            h1.new__title International conference ROMAN 2020
            p.new__text Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorem ab quis autem quasi nulla modi porro similique enim illo dolor repudiandae, voluptates ipsa! Placeat debitis, aliquam fugit quidem natus veniam dolorum ducimus autem, repellat rerum molestiae dolorem tenetur delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quidem deserunt magni ex a perferendis architecto esse aperiam similique. Quisquam architecto maiores perferendis dignissimos expedita voluptatem molestiae blanditiis inventore optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aperiam eaque laboriosam aut, id praesentium dicta inventore rem sit eum nostrum molestiae dolor voluptas porro tempore magnam. Deleniti minima nobis quos, debitis odio ipsam ea omnis doloribus aut commodi, ab, laboriosam molestias? Ad numquam magnam blanditiis eligendi sed officiis eveniet saepe, unde neque repellendus reprehenderit consequatur reiciendis ullam inventore esse voluptatem minima sunt! Ducimus a doloribus corporis cum fugiat fugit deserunt temporibus molestiae ratione, voluptas ipsa officia consectetur sit odio veniam fuga sequi vel nulla cupiditate possimus quo eligendi, voluptates totam. Pariatur illo dolor assumenda est quaerat porro mollitia obcaecati.


block scripts
    script(src="js/index.js")

