extends ../templates/template
block styles
    link(rel="stylesheet" href="../css/research.css")

block header
    header.main-header
        .main-header__copy
            include ../titlesSVG/researchTitle
            p Some of the most relevant projects I've worked on.

block section
    h1 Work in progress