@import "../mainStyles";
@import "../modules/timeline";
$headeHeight: 25rem;

.main-content{
  padding: 2rem;
  background: rgb(43,48,59) !important;
  background: linear-gradient(180deg, rgba(43,48,59,0.9079831761806285) 0%, rgba(255,255,255,0) 37%) !important;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > *{
    width: min(100%, 1300px);
  }
}

.main-header{
  display: flex;
  position: relative;
  margin: auto;
  height: $headeHeight;
  box-shadow: 0 0 10px 3px rgba($color: #333, $alpha: .4);

  &-content{
    background: $color1;
    margin: 0;
    padding: 1.2em;
    color: white;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &__title{
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 2px;
      font-weight: bold;
      text-shadow: 1px 1px 2px #333;
      flex-grow: 0;
    }

    &__copy{
      font-size: 1.1em;
      font-weight: 400;
      text-shadow: 1px 1px 1px #333;
    }

    &__about{
      margin: 2em 0;
      padding: 0 1em;
      flex-grow: 1;
      text-align: justify;
      text-justify: inter-word;
    }

    &__links{
      align-self: center;
      display: flex;
      padding-bottom: 2em;
      a:first-child{
        margin-right: 1em;
      }
      a{
        text-transform: uppercase;
        border-radius: 2px;
        color: white;
        display: block;
        padding: .5em 1em;
        background-color: lighten($complement, 10%);

        box-shadow: 0 2px 2px 0 rgba(#333, .5);
        transition: .2s;

        &:hover{
          background-color: $complement;
          box-shadow: 0 4px 4px 0 rgba(#333, .5);
        }
      }
    }

    &::after{
      content: "";
      position: absolute;
      right: -100px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: $headeHeight solid $color1;
      border-right: 100px solid transparent;
    }
  }
  &-img{
    flex: 1 0 44%;
    background: yellow;
    overflow: hidden;
    img{
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  @media screen and (max-width: 1200px){
    margin-top: 10rem;
    height: auto;
    min-height: $headeHeight;
    
    &-img{
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, -55%);

      height: 150px;
      width: 155px;
      border-radius: 50%;
      
    }
    &-content{
      padding-top: 4rem;
      text-align: center;
    }
    &-content::after{
      display: none;
    }
  }
}

.main-section{
  margin: 0;

  & > *{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title{
    display: flex;
    margin: auto;

    h1{
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 300;
    }

    img{
      display: block;
      width: 2.5em;
      margin-right: .8em;
    }
  }
}



