@import "../mainStyles";

:root {
	--time: 1500ms;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus{	
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #222;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: #222;  
	}
}
.main-content {
    padding: 0;
	font-family: montserrat;
	display: flex;
	justify-content: center;
	align-items: center;
	background: lighten($complement, 50%) !important;
	overflow: hidden;
}
.app {
	width: 960px;
	height: 550px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 20px;
	background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), 
		radial-gradient( 91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100% );
	transform: scale(0.9);
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		height: 800px;
		background-image: radial-gradient( circle 248px at center, #16d9e3 0%, #30c7ec 47%,#46aef7 100%);
		opacity: 0.6;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		animation: slide-in var(--time) cubic-bezier(0.19, 1, 0.22, 1) both;
	}
	&::before {
		z-index: 2;
		left: -100px;
		top: -50px;
	}
	&::after {
		z-index: 0;
		left: -200px;
		top: -150px;
		animation-delay: 200ms;
	}
}


@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 0.6;
		transform: translateX(0%) rotate(-15deg);
	}
}
form.form {
	position: relative;
	width: 600px;
	height: 100%;
	display: grid;
	grid-template-rows: 100px 1fr;
	padding: 10px 20px;
	z-index: 10;
	animation: slide-up var(--time) cubic-bezier(0.19, 1, 0.22, 1) both;
	opacity: 0;
	animation-delay: 200ms;

	h1.app-info {
		font-weight: 800;
		font-size: 2rem;
		margin: 25px 0;
		color: rgba(0, 0, 0, 0.8);
		animation: slide-up var(--time) cubic-bezier(0.19, 1, 0.22, 1) both;
		animation-delay: 400ms;
	}
	.user_field {
		padding-top: 30px;
		.row {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 40px;
			color: rgba(0, 0, 0, 0.8);
			animation: slide-up var(--time) cubic-bezier(0.19, 1, 0.22, 1) both;
			animation-delay: calc(400ms + (200ms * (var(--index))));

			.textfield {
				position: relative;
				input {
					width: 240px;
					background: none;
					color: #000;
					border: none;
					border-bottom: 2px solid #222;
					padding: 5px;
					letter-spacing: 1px;
					&[type="number"] {
						-moz-appearance: textfield;
					}
					&[type="number"]::-webkit-inner-spin-button,
					&[type="number"]::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					&:not(:valid) {
						border-bottom: 2px solid #cc2e2e;
					}
					&:focus ~ .fieldinfo {
						font-size: 12px;
						top: -12%;
						color: #27ae60;
					}
					&.hasvalue ~ .fieldinfo {
						font-size: 12px;
						top: -12%;
						color: #27ae60;
					}
				}
				.fieldinfo {
					position: absolute;
					left: 5px;
					top: 48%;
					transform: translateY(-50%);
					pointer-events: none;
					font-weight: 800;
					font-size: 14px;
					transition: all 200ms ease;
					color: rgba(0, 0, 0, 0.8);
				}
			}
			&._4 {
				height: 60px;
				display: flex;
				justify-content: flex-end;
				.btn.submit {
					height: 100%;
					width: 180px;
					border-radius: 40px;
					background: #2ecc71;
					border: none;
					color: #fff;
					font-size: 18px;
					cursor: pointer;
					box-shadow: 0 4px 10px rgba(46, 204, 113, 0.2);
					margin: 0 50px;
				}
			}
			&._3 {
				height: 150px;
				.textfield {
					background: rgba(0, 0, 0, 0.1);
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: calc(200% - 18%);
					height: 100%;
					textarea {
						width: 100%;
						height: 100%;
						padding: 10px;
						position: absolute;
						resize: none;
						background: none;
						color: #000;
						border: none;
						border-bottom: 2px solid #222;
					}
				}
			}
		}
	}
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}



@media only screen and (max-width: 650px) {
	.app{
		width: 600px;
		height: 550px;
		position: fixed;
		left: 0;
		top: 10%;
		transform: translateY(-0%);
		margin: 0 20px;
	}
}
