$imgCoverPath: "../img/publications/cover.jpg";

@import "../mainStyles";
@import "../components/header";

.main-content{
    background-color: lighten($complement, 76%) !important;
}

.publications-container .publication{
    padding: 1em;
    padding-bottom: 0;
    position: relative;

    .pubmain, .pubdetails{
        background-color: white;
    }

    .pubmain{
        position: relative;
        padding: 1em;
        padding-bottom: 2.6em;
        &__title{
            margin-bottom: 1em;
        }
        p{
            margin-top: .21em;
        }
        &__cite{
            span{
                display: inline-block;
                color: white;
                font-size: 10px;
                font-weight: bold;
                padding: .12em .5em;

                border-radius: 5px;
                margin-right: 1em;
                
            }
            .journal{
                background-color: red;
            }
            .conference{
                background-color: green;
            }
            .theses{
                background-color: teal;
            }
            .book{
                background-color: orange;
            }
        }

        &__assets{
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;

            background-color: lighten($color1, 50%);

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $color1;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                height: 2.5rem;
                width: 2.5rem;

                font-size: 20px;
                color: lighten($color: $complement, $amount: 15%);

                &:hover{
                    background-color: $color1;
                    color: white;
                }

                &:last-child{
                    background-color: $color1;
                    color: white;
                }
            }
        }
    }
    .pubdetails{
        display: none;
        margin-top: 2px;
        padding: 2em;

        box-shadow: 0 -2px 0 0 $color1;

        transition:1s;

        h3{
            margin-bottom: 1em;
        }

        &__bibtex{
            margin-bottom: 1.5em;
            span{
                margin-left: 40px;
            }
        }

        &__abstract{
            text-align: justify;
            text-justify: inter-word;
        }
    }
}