$imgCoverPath: "../img/index/cover.jpg";

@import "../mainStyles";
@import "../layouts/header";

/* Section styles */

.main-content{
  background-color: lighten($complement, 76%) !important;
  .main-section{
    min-height: 100%;
    @media screen and (max-width: map-get($breakpoints, m)){
      padding:0;
    }

    .new{
      box-shadow: 0 0 15px 4px rgba(#333, .5);
      background-color: white;
      border: 1px solid rgba($color: #333, $alpha: .2);
      margin: 1.8em 1em;
      box-sizing: content-box;
      

      display: flex;
      align-items: center;

      &__date{
        align-self: flex-start;
        flex: 0 0 auto;
        width: 5em;
        height: 5em;
        margin: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-shadow: 0 0 0 5px $color2;
        background-color: $color1;
        color: white;
        font-weight: bold;
      }

      &__content{
        flex:auto;
        margin-right: 3em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        p{
          margin-bottom: 1em;
          text-align: justify;
          text-justify: inter-word;

          a{
            font-weight: bold;
            color: $color2;
            &:hover{
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        iframe{
          margin: auto;
        }
      }

      @media screen and (max-width: map-get($breakpoints, m)){
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-content: center;

        margin: 10px;
        padding-top: 1em;

        &__date{
          margin: 0;
          padding: 1em;
          flex-flow: row nowrap;
          height: 2em;
          width: 10em;
          box-shadow: none;

          span{
            margin-left: 5px;
          }
        }

        &__content{
          margin: auto;
          padding: 1em;

          
          h1{
            margin:0;
            font-size: 1.5em;
          }

          p{
            text-align: justify;
            text-justify: inter-word;
            margin: .5em;
          }
        }
      }
    }
  }
}



