extends ../templates/templateProjects
block variables
    - var title = 'Synthesizing Traffic Datasets using Graph Neural Networks'
    - var rootPath = '../../'
    - var pageName = 'traffic'


block header
    header.secondary-header
        img.brands__img(src=`${rootPath}img/projects/traffic/brands.png` alt="aston and traffic2D logos")
        h1 Synthesizing Traffic Datasets using Graph Neural Networks
        h3 Daniel Rodriguez-Criado, Maria Chli, Luis J. Manso, George Vogiatzis

        nav.links-header
            a(href="https://github.com/gvogiatzis/trafficgen" target="_blank") Code
                i.fab.fa-github-square
            a(href="https://arxiv.org/abs/2312.05031" target="_blank") Paper
                i.fa-regular.fa-paper-plane

block sections
    section.main-section
        h2.main-section__title: a(name="introduction") Introduction
        .main-section__content
            p
                | Traffic congestion in urban areas presents significant challenges, and Intelligent Transportation Systems (ITS) have sought to address these via automated and adaptive controls.
                | However, these systems often struggle to transfer simulated experiences to real-world scenarios.
                | This paper introduces a novel methodology for bridging this `sim-real' gap by creating photorealistic images from 2D traffic simulations and recorded junction footage.
                | We propose a novel image generation approach, integrating a Conditional Generative Adversarial Network (cGAN) with a Graph Neural Network (GNN) to facilitate the creation of realistic urban traffic images.
                | We harness GNNs' ability to process abstract information alongside segmented images for preserving locality data.
                | The presented architecture leverages the power of SPADE and Graph Attention network (GAT)  models to create images based on traffic scenarios simulated by SUMO.
                | These images are conditioned by factors such as entity positions, colours, and time of day.
                | The uniqueness of our approach lies in its ability to effectively translate structured and human-readable conditions, encoded as graphs, into realistic images.
                | This advancement contributes to applications requiring rich traffic image datasets, from data augmentation to urban traffic solutions.
                | We further provide an application to test the model's capabilities, including generating images with manually defined positions for various entities.

        .videoWrapper
            iframe(width="560" height="315" src="https://www.youtube.com/embed/IBHhBGULmB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

    section.main-section
        h2.main-section__title: a(name="results") Results
        img.results-section__img(src=`${rootPath}img/projects/traffic/visual_results_traffic.png` alt="visual results")

    section.main-section
        h2.main-section__title: a(name="citation") Citation
        .main-section__content
        .citation__bibtex
            p
                |@article{rodriguez2023traffic,
                |<br><span>title = {Synthesizing traffic datasets using graph neural networks}</span>,
                |<br><span>author = {Rodriguez-Criado, Daniel and Chli, Maria and Vogiatzis, George and Manso, Luis J}</span>,
                |<br><span>booktitle = {International Conference on Intelligent Transportation Systems}</span>,
                |<br><span>year = {2023}</span>,
                |<br><span>organization = {IEEE}</span>,
                |<br>}