.global-container{
  max-width: 2000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 10px 0 #333;

  header.main-header{
    flex-basis: $headeHeigh;
    position: relative;
    z-index: 100;
  }

  aside.main-aside{
    position: fixed;
    z-index: 1;
    top: 0;

    width: $asideWidth;
    height: 100%;
    padding-top: $headeHeigh;

  }
  main.main-content{
    margin-left: $asideWidth + $mainMargin;
    margin-right: $mainMargin;
    flex-grow: 1;
  }
}

@media screen and (max-width: map-get($breakpoints, ml)), (orientation: landscape) and (max-width: map-get($breakpoints, ml)){
  .main-aside{
    left: -$asideWidth;
  }
  main.main-content{
    margin: 0 !important;
  }
}

/* Main header styles*/

header.main-header{
  background: $color2;

  h1{
    color: white;
    padding-left: $asideWidth;
    margin: 0;
    margin-top: .5em;

    @media screen and (max-width: map-get($breakpoints, ml)), (orientation: landscape) and (max-width: map-get($breakpoints, ml)){
      padding: 0 10px;
      padding-left: 3em;
      text-align: center;
      font-size: 1.6em;
    }
  }
}

/* Main aside styles */

.main-aside{
  background-color: $color1;
  color: white;
  text-align: center;

  transition: .4s left ease-in-out;

  &__title{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2.5rem;

    text-transform: uppercase;
    a{
      display: block;
      line-height: 1.4em;
      color:white;
    }
  }

  &__nav-filter{
    input{
      border-radius: 0%;
      background-color: $color2;
      color: white;
      width: 80%;

      margin-bottom: 2em;
      padding: 8px;
      border: none;
    }
  }

  /* Menu styles */
  .main-nav{
    text-align: left;

    li{
      a{
        display: block;
        color: white;
        &:hover{
          background-color: darken($color1, 10%);
        }
      }
    }

    .main-menu > li{

      & > a{
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.3rem;
        padding-left: 1em;
        padding-top: .7rem;
        padding-bottom: .7rem;
      }
    }

    .main-menu li ul li{
      a{
        font-size: 1.2em;
        padding: .3em 1.5em .3em 2.3em;
      }
    }

    .main-menu__item--active > a{
      background-color: darken($color1, 10%);
    }
  }
}

