/*Animations for the timeline*/
@-webkit-keyframes slide-right {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
              opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-right {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
              opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity:1;
    }
  }
  @-webkit-keyframes slide-left {
    from {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
              opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-left {
    from {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
              opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity:1;
    }
  }

/* Global timeline container */
.timeline{
    margin: 2em 0;
    padding: 0 .5em;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;

    /* Line in the middle*/
    &::after{
        content: "";
        position: absolute;
        top: 5px;
        right: 50%;
        transform: translateX(50%);
        width: 5px;
        height: 82%;
        background-color: rgba($color: $color1, $alpha: .4);
    }
    &__row{
        width: 100%;
        position: relative;
        margin-bottom: 3rem;
        display: flex;

        &:last-child{
            margin-bottom: 0;
        }

        /* Dot in the line */
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            top: 6px;
            right: 50%;
            transform: translate(50%);
            z-index: 1;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: $color1;
            box-shadow: 0 0 0 3px darken($color1, 12%);
        }

        /* Even elements to the right */
        &:nth-child(even){
            justify-content: flex-end;
            .date{
                right: auto;
                left: -19rem;
            }
        }
        &:nth-child(odd){
            -webkit-animation: slide-right 2s linear;
            animation: slide-right 1s linear;
        }
        &:nth-child(even){
            -webkit-animation: slide-left 2s linear;
            animation: slide-left 1s linear;
        }
    }
}



/* Individual element of the timeline */
.timeline__element{
    width: 45%;
    align-self: start;
    margin-bottom: 3rem;
    position: relative;

    padding: 1rem 2em;

    box-shadow: 0 0 4px 2px rgba($color: #333, $alpha: .2),
                4px 0 0 0 $color1 inset;
    background-color: white;

    
    
    .title{
        color: darken($color1, 12%);
    }

    .university{
        margin-bottom: 1.5em;
    }

    .date{
        position: absolute;
        width: auto;
        padding: .5em .9em;
        border-radius: 10px;
        top: -2px;
        right: -19rem;
        color: white;

        background-color: $color1;
    }

    .copy{
        text-align: justify;
        text-justify: inter-word;
    }
}



/* Remove margin from the last element */
.timeline__element:last-child{
    margin-bottom: 0;
}

/* Responsive sizes */

@media screen and (max-width: 1200px){
    *::after{
        content: normal;
    }
    .timeline{
        display: block;

        &__row{
            animation: none !important;
        }

    }
    .timeline__element{
        width: 100%;
        z-index: 2;
        &::after{
            content: normal;
        }
        .date{
            position: static;
            margin-top: 10px;
        }
    }

}